$font-family: "IranSans", "Roboto", sans-serif;

$assets-root: "../../assets/";
$images-root: $assets-root + "images/";

$color-active: #fd7d16;
$color-body: #212120;
$color-purple: #712d73;
$bgColor-header: #121212;
$bgColor-cart:#212121;
$color-shadow: #712d734f;
$color-gray: #ccc;
$color-box: #f5e4bb;
$color-info: #77736a;
$black: #000;
$white: #fff;

$loader:#ebcbad;
$loader2:#f78d37;
