@import '../../assets/css/base/styles';

.header-cart_content {
  .scroll {
    padding: 5px 25px;
    max-height: 133px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      @include prefix(box-shadow,inset 0 0 6px rgba(0, 0, 0, 0.3));
      @include prefix(border-radius,5px);
      
    }
    &::-webkit-scrollbar-thumb {
      @include prefix(border-radius,5px);
      @include prefix(box-shadow,inset 0 0 6px #fd7d16);

    }

    li {
      border-bottom: 1px dashed #3e3e3e;
      list-style: none;
      padding: 5px;

      &:last-child {
        border: transparent;
      }

      .card_item {
        display: flex;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        .card_index {
          align-self: center;
          margin-left: 15px;
        }
        img {
          width: 30%;
          height: 60px;
          background: $white;
          margin-left: 20px;
        }
        .card_body {
          .card_title {
            font-size: 18px;
            @media (max-width:375px){
              font-size: 15px;
            }
          }
          .card_desc {
            color: #edd7c4;
            font-size: 16px;
            @media (max-width:375px){
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
