@import "../../assets/css/base/styles";
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.header-cart {
  width: 320px;
  height: auto;
  max-height: 330px;
  padding: 15px;
  position: absolute;
  left: 15%;
  @media (max-width: 992px) {
    left: 70%;
  }
  @media (max-width: 550px) {
    left: 50%;
  }
  top: 80px;
  @media (max-width: 375px) {
    width: 285px;
  }

  @media (max-width: 325px) {
    top: 120px;
  }
  transform: translate(-50%, 0);
  background: $bgColor-cart;
  border-radius: 8px;
  border: 1px solid #3e3d3d;
  text-align: right;
  color: $white;
  z-index: 4;

  .header-cart_title {
    padding: 0 9px;
    font-size: 20px;
    @media (max-width: 375px) {
      font-size: 17px;
    }
    color: #cbc5c0;
    margin-bottom: 10px;
    border-bottom: 1px solid #3e3e3e;
    span {
      float: left;
      color: #edd7c4;
    }
  }

  .header-cart_total {
    border-top: 1px solid #3e3e3e;
    padding: 15px 10px;

    span {
      float: left;
      color: #edd7c4;
    }
  }

  .header-cart_footer {
    border-top: 1px solid #3e3e3e;
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    button {
      width: 115px;
    }
  }
}
