  @font-face {
    font-family: "IranSans";
    src: url("../../fonts/IRANSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "IranSans";
    src: url("../../fonts/IRANSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "IranSans";
    src: url("../../fonts/IRANSansUltraLight.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "IranSans";
    src: url("../../fonts/IRANSansLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }



