@import "../../assets/css/base/styles";

.mainPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;

  .bg-wrapper {
    background: url("#{$images-root}/2.jpg");
    height: 100%;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $black;
      opacity: 0.4;
      z-index: 3;
    }
    .content {
      position: relative;
      z-index: 3;
      height: 100%;
      display: flex;
      z-index: 3;
      justify-content: center;
      align-items: center;
      h1 {
        color: $white;
        font-weight: bold;
        display: inline-block;

        @include animation(zoomInzoomOut, 3s, ease, 0, infinite);

        font-size: 60px;
        @media (max-width: 1200px) {
          font-size: 40px;
        }
        @media (max-width: 768px) {
          font-size: 30px;
        }
        @media (max-width: 425px) {
          font-size: 20px;
        }
      }
    }
  }
};

@include keyframe(zoomInzoomOut) {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
};
