@import "../../assets/css/base/styles";

.mainHeader {
  justify-items: baseline;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;

  .mainContainer{
    position: relative;
  }
  &.bgDarkHeader {
    background-color: rgba($color: $bgColor-header, $alpha: 0.7);
    transition: all 0.2s ease-in;
  }

  .headerResponsive {
    display: none;
  }
  .cart-wrap {
    position: relative;
    display: inline;
    cursor: auto;
  }
  .navItem {
    position: relative;
    color: $white !important;
    transition: all 0.5s ease-in;
    cursor: pointer;
    .customBadge {
      background: transparent !important;
      color: $color-active;
      border: 2px solid $color-active;
      border-radius: 50%;
      position: absolute;
      right: -20px;
      top: -17px;
      z-index: -2;
      border-bottom: transparent;
    }
    &:after {
      content: "";
      background: $color-active;
      width: 0%;
      right: 0;
      left: auto;
      bottom: -3px;
      position: absolute;
      height: 2px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    &:hover {
      color: $color-active !important;
      &:after {
        width: 100%;
      }
    }
  }
  .colorIcon {
    color: $color-active;
  }

  .active {
    .navItem {
      color: $color-active !important;
      &:after {
        width: 100%;
      }
    }
  }
}

@media (max-width: 992px) {
  .mainHeader {
    background-color: $bgColor-header;
    .headerResponsive {
      display: flex;
      flex-direction: row;
      position: relative;
      flex: auto;
      a {
        margin-right: 25px !important;
      }
    }
  }
  .rightSideNav {
    background: $bgColor-header;
    padding: 20px;
  }
  .leftSideNav {
    display: none !important;
  }
}
@media (max-width: 325px) {
  .mainHeader {
    .mainContainer {
      justify-content: center !important;
    }
  }
}
